[submodule "vendor/websocket-server"]
	path = vendor/websocket-server
	url = git://github.com/miksago/node-websocket-server.git
[submodule "vendor/node-jspack"]
	path = vendor/node-jspack
	url = https://github.com/pgriess/node-jspack
