[submodule "node_modules/log4js-node"]
	path = node_modules/log4js-node
	url = https://github.com/nomiddlename/log4js-node.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "node_modules/socket.io-client"]
	path = node_modules/socket.io-client
	url = https://github.com/LearnBoost/socket.io-client.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = https://github.com/mishoo/UglifyJS.git
[submodule "node_modules/policyfile"]
	path = node_modules/policyfile
	url = https://github.com/3rd-Eden/FlashPolicyFileServer.git
[submodule "node_modules/mdns"]
	path = node_modules/mdns
	url = https://github.com/agnat/node_mdns.git
